div {
  margin: 20px;
  background-color: burlywood;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

ul,
li {
  list-style-type: none;
  margin: 0px;
}

h3 {
  width: inherit;
  height: 80px;
  vertical-align: middle;
  text-align: center;
  background-color: rebeccapurple;
}

button {
  background-color: lightblue;
  color: white;
  text-align: center;
  padding: 15px 20px;
  border: none;
  border-radius: 6px;
  font-size: 18px;

  position: fixed;
  bottom: 0;
  width: 100%;
}
